<nav>
  <div class="nav-wrapper red darken-2 row">
    <div class="col s12">
      <a href="" class="brand-logo "><i class="large material-icons">blur_on</i>Covidel</a>
      <ul id="nav-mobile" class="right">
        <li><a (click)="goToGlobal()">Global</a></li>
        <li><a (click)="goToCountry()">Country-wise</a></li>
      </ul>
    </div>
  </div>
</nav>
<h6 style="color: darkgray; line-height: 100%; text-align: center; margin: 2rem 2rem"><i class="fa fa-circle blink" style="color: darkred"></i>   Tracking Covid-19 Outbreak</h6>
<div class="container">
  <router-outlet></router-outlet>
</div>

